* {
  box-sizing: border-box;
}
.fffffffff {
  margin-top: 1rem;
}


input {
  height: 35px;
  width: 50%;
  padding: 7px;
  outline: none;
  border-radius: 15px;
  border: 1px solid rgb(220, 220, 220);
}
.first-division {
  display: flex;
  flex-direction: column;
  margin: 0 5px 0.5rem 0;
  width: 90%;
  margin: auto;
  height: 5rem;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.first-division:hover {
  border-left: 3px solid #4bb064;
}
.add-btn {
  border: 1px solid #ccc;
  padding: 10px 15px;
  font-size: 16px;
}
.inputdivsion {
  display: flex;
  align-items: center;
  padding: 20px;
}
.second-division {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-left: 4rem;
}
.calender-btn {
  opacity: 0;
}

.calender-btn:hover {
  opacity: 1;
  cursor: pointer;
  border: 1px solid #ccc;
  padding: 8px 15px;
  border-radius: 5px;
  background-color: rgb(222, 213, 213);
}
.second-division button {
  color: gray;
  opacity: 0;
  background-color: whitesmoke;
}
.remove-btn:hover {
  opacity: 1;
  border: 1px solid transparent;
  padding: 8px 15px;
  border-radius: 10px;
}
.rowOfinput {
  /* box-shadow: 0 0 10px 0 rgb(37 207 96 / 35%);
  border: 1px solid #4bb064; */
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  height: 78px;
  font-size: 20px;
  line-height: 76px;
  vertical-align: middle;
  background-color: #f8f8f8;
  border: 0;
  color: #797979;
  border-radius: 10px;
}
.rowpAnle {
  box-shadow: 0 0 10px 0 rgb(37 207 96 / 35%);
  border: 1px solid #4bb064;
  background: 0 0;
}
.TimerinPut {
  margin-left: 15px;
  padding: 8px;
  width: 40%;
  /* border: 1px solid red; */
}
.formControl {
  /* border: 1px solid transparent; */
  box-shadow: none;
  /* border: 1px solid red; */
  color: #3e3e3e;
  cursor: pointer;
  border: 1px solid transparent;
  display: block;
  background-color: transparent;
  font-size: 14px;
  font-weight: 400;
  width: 102%;
  height: 60px;
  border-radius: 10px;
}
.formControl:hover {
  border: 1px solid #c4c4c4;
}
.formControl::placeholder {
  padding: 1rem;
  opacity: 0.8;
  /* border: 1px solid red; */
  color: #3e3e3e;
}

.rowTimer2 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
}
